/*=МИКСИНЫ========================================================================================================*/

/*=МИКСИНЫ========================================================================================================*/

/*=ШРИФТЫ=========================================================================================================*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
//=ШРИФТ ПО УМОЛЧАНИЮ====================================================================================
$fontFamily: "Heebo";
//=ШРИФТ ПО УМОЛЧАНИЮ====================================================================================
/*=ШРИФТЫ=========================================================================================================*/

/*=ПЕРЕМЕННЫЕ=====================================================================================================*/
$minWidth: 320px;
$maxWidth: 1152px;
$maxWidthContainer: 856px;
$md1: $maxWidthContainer + 16;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
/*=ПЕРЕМЕННЫЕ=====================================================================================================*/

/*=ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ=====================================================================================*/
@import "none.scss";
.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
body {
	color: rgba(33, 36, 61, 1);
	font-family: $fontFamily;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.container {
	max-width: 872px;
	padding: 0 8px;
	margin: 0 auto;
}
.container2 {
	max-width: 1048px;
	padding: 0 8px;
	margin: 0 auto;
}
/*=ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ=====================================================================================*/

/*================================================================================================================*/
.text {
	font-size: 16px;
	line-height: 24px;
	@media (max-width: $md3) {
		font-size: 14px;
	}
	@media (max-width: $minWidth) {
		font-size: 13px;
	}
}
.title {
	font-size: 44px;
	font-weight: 700;
	line-height: 136%;
	@media (max-width: $md3) {
		font-size: 38px;
	}
	@media (max-width: $minWidth) {
		font-size: 34px;
	}
}
/*===HEADER=======================================================================================================*/
.header {
	z-index: 50;
	position: fixed;
	background-color: #fff;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0 0 40px 0;
	@media (max-width: $md3) {
		margin: 0 0 20px 0;
	}
	&__container {
		padding: 15px 0;
		display: flex;
		justify-content: flex-end;
	}
	&__burger {
		margin: 0 10px 0 0;
		z-index: 3;
		display: none;
		@media (max-width: $md3) {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			&::before,
			&::after {
				transition: all 0.3s ease 0s;
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: #000;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: -2px;
			}
			& span {
				position: absolute;
				width: 100%;
				height: 2px;
				bottom: 9px;
				background-color: #000;
			}
			&.active {
				&::before {
					transform: rotate(45deg);
					top: 9px;
				}
				&::after {
					transform: rotate(-45deg);
					bottom: 9px;
				}
				& span {
					display: none;
				}
			}
		}
	}
	&__menu {
		display: flex;
		@media (max-width: $md3) {
			transition: all 0.4s ease 0s;
			position: fixed;
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: -250%;
			background-color: rgb(255, 255, 255, 0.8);
			&.active {
				left: 0;
			}
			overflow: auto;
		}
	}

	&__list {
		padding: 20px 20px;
		display: flex;
		& > :not(:last-child) {
			margin: 0 33px 0 0;
		}
		@media (max-width: $md3) {
			display: block;
			& > :not(:last-child) {
				margin: 0 0 30px 0;
			}
			margin: 20% 0;
			text-align: center;
		}
	}

	&__link {
		font-size: 20px;
		font-weight: 500;
		line-height: 145%;
		color: rgba(0, 0, 0, 1);
		transition: all 0.1s ease 0s;
		@media (min-width: $md2) {
			&:hover {
				color: rgb(243, 42, 42);
			}
		}
		@media (max-width: $md3) {
			font-size: 40px;
		}
	}
}
/*===HEADER=======================================================================================================*/

/*===MAIN=========================================================================================================*/
.main {
	&__greeting {
	}
	&__post {
	}
	&__work {
	}
}
/*===GREETING==============================================================================================*/
.greeting {
	margin: 80px 0 0 0;
	padding: 40px 0;
	@media (max-width: $md3) {
		padding: 20px 0;
		margin: 50px 0 0 0;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		@media (max-width: $md4 + 50) {
			flex-direction: column-reverse;
		}
	}

	&__content {
		align-items: flex-start;
		padding: 0 10px 0 0;
		& > :not(:last-child) {
			margin: 0 0 40px 0;
		}
		flex: 1 1 auto;
		max-width: 506px;
		@media (max-width: $md3) {
			& > :not(:last-child) {
				margin: 0 0 20px 0;
			}
		}
		@media (max-width: $md4 + 50) {
			text-align: center;
			padding: 0;
			& > :not(:last-child) {
				margin: 0 0 10px 0;
			}
		}
	}

	&__btn {
		&:hover {
			background: rgb(243, 42, 42);
		}
		transition: all 0.15s ease 0s;
		padding: 5px 20px;
		font-size: 20px;
		font-weight: 500;
		line-height: 145%;
		min-height: 47px;
		min-width: 210px;
		background: rgba(255, 100, 100, 1);
		color: #fff;
		@media (max-width: $minWidth) {
			font-size: 16px;
		}
	}

	&__image {
		flex: 0 0 243px;
		height: 243px;
		overflow: hidden;
		img {
			max-width: 100%;
		}
		@media (max-width: $md4 + 50) {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 0 20px 0;
		}
	}
}
/*===GREETING==============================================================================================*/

/*===POST==================================================================================================*/
.post {
	background-color: #edf7fa;
	padding: 30px 0;
	&__container {
	}

	&__header {
		padding: 0 0 25px 0;
	}

	&__subtitle {
		font-size: 22px;
	}

	&__columns {
		display: flex;
		margin: 0 -10px;
		@media (max-width: $md4) {
			flex-wrap: wrap;
			& > :not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}

	&__column {
		padding: 20px;
		background-color: #fff;
		& > :not(:last-child) {
			margin: 0 0 15px 0;
		}
		margin: 0 10px;
		@media (max-width: $md4) {
			flex: 0 1 100%;
		}
	}

	&__title {
		font-size: 26px;
		font-weight: 700;
		line-height: 146%;
	}

	&__dap {
		display: flex;
		font-size: 18px;
		line-height: 26 / 18 * 100%;
	}

	&__data {
		padding: 0 40px 0 0;
	}

	&__place {
	}

	&__text {
		font-size: 16px;
		line-height: 150%;
	}
}
/*===POST==================================================================================================*/

/*===WORK==================================================================================================*/
.work {
	padding: 20px 0 50px 0;
	&__container {
	}

	&__header {
		padding: 0 0 20px 0;
	}
	&__subtitle {
		font-size: 22px;
	}

	&__rows {
		& > :not(:last-child) {
			margin: 0 0 30px 0;
		}
	}

	&__row {
		position: relative;
		display: flex;
		padding: 0 0 20px 0;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0;
			left: 0;
			background-color: #e0e0e0;
		}
		@media (max-width: $md4) {
			display: block;
			text-align: center;
		}
	}

	&__img {
		margin: 0 20px 0 0;
		display: flex;
		flex: 0 0 246px;
		img {
			border-radius: 6px;
			max-width: 100%;
		}
		@media (max-width: $md3) {
			margin: 0 10px 0 0;
			flex: 0 0 180px;
		}
		@media (max-width: $md4) {
			margin: 0;
		}
	}

	&__content {
		& > :not(:last-child) {
			margin: 0 0 20px 0;
		}
		@media (max-width: $md3) {
			& > :not(:last-child) {
				margin: 0 0 10px 0;
			}
		}
	}

	&__title {
		font-size: 30px;
		font-weight: 700;
		line-height: 146%;
	}

	&__wrap {
		display: flex;
		@media (max-width: $md4) {
			justify-content: center;
		}
	}

	&__year {
		margin: 0 30px 0 0;
		padding: 5px 10px;
		display: inline-block;
		font-size: 18px;
		font-weight: 900;
		color: #fff;
		background: rgba(20, 40, 80, 1);
		border-radius: 16px;
	}

	&__label {
		color: rgba(134, 149, 164, 1);
		font-size: 20px;
		line-height: 145%;
	}

	&__text {
		font-size: 16px;
		line-height: 150%;
	}
}
/*===WORK==================================================================================================*/

/*===FOOTER================================================================================================*/
.footer {
	padding: 50px 0;
	&__container {
		& > *:not(:last-child) {
			margin: 0 0 25px 0;
		}
	}

	&__icons {
	}

	&__copy {
		text-align: center;
	}
}
.icons {
	text-align: center;
	font-size: 30px;
	color: inherit;
	& > *:not(:last-child) {
		margin: 0 25px 0 0;
	}

	&__item {
		transition: all 0.1s ease 0s;
		@media (min-width: $md2) {
			&:hover {
				color: rgb(243, 42, 42);
			}
		}
	}
}
/*===FOOTER================================================================================================*/
/*================================================================================================================*/

.content-btn {
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
	min-height: 700px;
}
.btn {
	margin: 0 0 10px 0;
	padding: 10px;
	min-height: 30px;
	min-width: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	color: #fff;
	background-color: rgb(185, 204, 100);
	&:hover {
		transition: all 0.3s ease 0s;
		background-color: rgb(145, 165, 56);
	}
}
